<nav class="desktop-nav">
	<div class="logo">
		<a href="/products"><img src="/assets/logo.png" alt="" /></a>
	</div>
	<ul>
		<%if(userId) {%>
		<li><a href="/users">Users</a></li>
		<% } %> 
		<%if(userId) {%>
		<!-- If user is logged in display -->
		<div class="profile-menu">
			<li class="profile-info">
			<p class="profile-toggle" style="font-weight: 600;">Hello, <%= name%></p>	
			</li>
			<div class="profile-hover hide">
				<li>
					<a href="/users/<%= userId%>">View Profile</a>
				</li>
				<li>
					<form action="/users/logout" method="POST">
						<button type="submit">Log Out</button>
					</form>
				</li>
			</div>
		</div>
		<a href="/users/<%= userId %>/cart" class="cart-btn-container">
			<div class="cart">
				<i class="fas fa-shopping-cart"></i>
				<p><%= length || 0 %></p>
			</div>
		</a>
		<%} else {%>
		<li><a href="/users/signin" class="account-button">Sign In</a></li>
		<li><a href="/users/create" class="account-button">Sign Up</a></li>
		<% } %>
	</ul>
</nav>

<nav class="mobile-nav">
	<div class="logo">
		<a href="/products"><h2>Express Ecommerce</h2></a>
	</div>
	<ul>
		<%if(userId) {%>
		<!-- If user is logged in display -->
		<div class="profile-menu">
			<section class="mobile-profile">
				<li class="profile-info">
					<div class="mobile-toggle">
						<% if(img) {%>
							<img style="object-fit:cover;width: 35px; height: 35px;border-radius: 50%; border: 1px solid #a3a3a3; " src="<%= img %>" alt="">
						<% } else{ %>  
						<img
							style="width: 35px;"
							src="https://lh3.googleusercontent.com/proxy/MzOuHi_jQ8wMcHOn04sO5pZtBrRT-OrMPWKVS1x1QjF8RIco2T4NZ45znb0mUssKkWFa4gb1ACRvzAVCf6aRzxKQGIRTMsnJu5fYnJrIQtDULo5SE-2zNMNmeZjBP2ieEZTqVekPPA"
							alt=""
						/>
						<% } %> 
					</div>
					<section class="mobile-profile-menu invisible">
					<a href="/users/<%= userId%>">View Profile</a>
					<form action="/users/logout" method="POST">
						<input type="submit" value="Log Out"></input>
					</form>
				</section>
				</li>
				<a href="/users/<%= userId %>/cart" class="cart-btn-container">
					<div class="cart">
						<i class="fas fa-shopping-cart"></i>
						<p><%= length || 0 %></p>
					</div>
				</a>
			</section>
			<div class="profile-hover">
				<li></li>
			</div>
		</div>
		<%} else {%>
		<li><a href="/users/signin" class="account-button">Sign In</a></li>
		<li><a href="/users/create" class="account-button">Sign Up</a></li>
		<% } %>
	</ul>
</nav>
