<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/_head') %>

	<body>
		<%- include('../partials/_header') %>
		<main>
			<!-- Total -->

			<% let total = 0%> <% if (user._id.toString() === userId.toString()) { %>
			<section class="hello-user">
				<h3>Shopping Cart</h3>
			</section>
			<section class="cart-container">
				<!--  Displays User Cart -->
				<% for(let item of cartItems){ %>
				<!--  Displays Each Item -->
				<div class="cart-item">
					<a href="/products/<%= item.productId %>"><%= item.productName %></a>
					<p>$<%= item.productPrice %></p>
				</div>
				<% total = parseInt(total) + parseInt(item.productPrice) %>
				<!-- Remove Item from Cart -->
				<form
					action="/users/<%= user._id %>/removeFromCart/<%= item.productName %>?_method=PUT"
					method="POST"
				>
					<button type="submit">Delete Item</button>
				</form>
				<% } %>
			</section>
			<h3 class="total">Total: $<%= total %></h3>
			<% } else {%>
			<h2>You must login to view your cart.</h2>
			<% } %>
		</main>
	</body>
</html>
