<!DOCTYPE html>
<%- include('../partials/_head') %>

<body>
	<%- include('../partials/_header') %>
	<main class="user-container">
		<h2>Account Info</h2>
	<% if(user && userId){if(userId.toString() === user._id.toString() || admin){ %> 
		<p>First Name: <%= user.firstName %></p>
		<p>Last Name: <%= user.lastName %></p>
		<p>Email: <%= user.email %></p>
		<a href="/users/edit/<%= user._id %> ">Edit User</a>
		<!-- Display Form To Change User To Admin -->
		<%if (user.isAdmin) {%>
			<p><%= user.firstName %> has admin privileges</p>
		<%} else if(admin) {%>
			<form action="/users/<%= user._id %>?_method=PUT" method="POST">
				<button type="submit">Add <%= user.firstName %> as admin</button>
			</form>
		<%}%>	
	<% } else{ %>
		<h3>You are not <%= user.firstName %>! Get out of here! </h3>
	<% } } else { %>
		<h3>You must login to view user profiles.</h3>
	<% } %>
</main>
</body>

</html>
