<!DOCTYPE html>
<%- include('../partials/_head') %>

<body>
	<%- include('../partials/_header') %>
	<main class="user-container">
		<section class="hello-user">
			<h2>Welcome Back, <%= user.firstName %> </h2>
			<div class="user-img">
			<img src="<%= user.img %>" alt="">
		</div>
		</section>
		
	<% if(user && userId){if(userId.toString() === user._id.toString() || admin){ %> 
		<div class="user-info">
		<h3>Account Information</h3>
		<p><strong>First Name:</strong> <%= user.firstName %></p>
		<p><strong> Name: </strong><%= user.lastName %></p>
		<p><strong>Email:</strong> <%= user.email %></p>
		<a href="/users/edit/<%= user._id %>" class="button">Edit User</a>
		<!-- Display Form To Change User To Admin -->
		<%if (user.isAdmin) {%>
			<p><%= user.firstName %> has admin privileges</p>
		<%} else if(admin) {%>
			<form action="/users/<%= user._id %>/admin?_method=PUT" method="POST">
				<button type="submit">Add <%= user.firstName %> as admin</button>
			</form>
		<%}%>	
	</div>
		
		<h3 class="recent">Recently Viewed Items</h3>
		<section class="recent-divider"></section>
		<% if(items.length) {%> 
		<div class="recent-items">
			<% for(let item of items) {%>
				<div class="recent-item">
				<a href="/products/<%=item._id%>">
					<div class="recent-image">
						<div class="recent-overlay">
							<p>View Product</p>
						</div>
					<img src="<%=item.img%>" alt="">
					</div>
				</a>
				<p><%= item.name %> </p>
			</div>
			<% } %>  
		</div>
		<% }  else {%>
			<p>No recently viewed items.</p>
		<% } %>  
	<% } else{ %>
		<h3>You are not <%= user.firstName %>! Get out of here! </h3>
	<% } } else { %>
		<h3>You must login to view user profiles.</h3>
	<% } %>
</main>
</body>

</html>
